.pic1{
    height: 100%;
    width: 100%;
    background-attachment: fixed;
    background-size: cover;
}
.listing{
    position: absolute;
    left:41%;
    top: 40%;
    background: transparent;
    color: rgb(16, 7, 138);
}
.int{ 
    color: rgb(160, 12, 135);
}